<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>글 쓰는 블로그</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>⛵ <a href="https://jagunbae.com/tag/personal-blog/">글 쓰는 블로그</a>를 소개합니다</h1>

    {% for group, feeds in data %}
    <h2>{{ group }}</h2>
    {% for feed in feeds %}
    <details>
      <summary>
        <span class="feed-title">{{ feed.title }}</span>
        <span class="feed-url">({{ feed.feed }})</span>
      </summary>
      <ul>
        {% for item in feed.items %}
        <li>
          {{ item.timestamp | formatDate }} -
          <a
            href="{{ item.link }}"
            target="_blank"
            rel="noopener norefferer nofollow"
            >{{ item.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </details>
    {% endfor %} {% endfor %} {% if errors | length > 0 %}
    <h2>Errors</h2>
    <p>There were errors trying to parse these feeds:</p>
    <ul>
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <br />
    <hr />
    <p>
      Powered by
      <a href="https://github.com/georgemandis/bubo-rss"
        >Bubo Reader (v{{ info.version }})</a
      >
    </p>
  </body>
</html>
